<ion-view view-title="about us" hide-back-button=""> 
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear ion-ios-book-outline" ng-href="#/app/myMagazine/all"></a>
    <button class="button button-icon button-clear ion-ios-navigate-outline" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content style="background:no-repeat url('img/aboutus.jpeg');background-size:cover;background-position:center;">
  	<div class="padding">
  		<img class="full-image" style="height:100px;" src="http://placehold.it/200x200">
  		<p>INTRODUCTION</p>
  		<p>This production is build for a magazine reader.This app use advanced technolog to display the content.Aim to show perfect experience to the customer.</p>
  		<p class="padding" style="text-align:center">	
  			PORDUCTOR_Liduanjie<BR/>
  			PUBLISHER_Liduanjie
  		</p>
  		<div>hot_line: 15112060248</div>
  		<div>concact: liduanjie</div>
  		<div>TEL: (0754)83842426</div>
  		<div>hot_line: 15112060248</div>
  		<div>ADDRESS: Guangdong Guangzhou</div>
  	</div>
  </ion-content>
  <div class="bar bar-footer">	
  	<div class="title">
  	
  		<small>	Powered by LiDuanJie</small>
  	</div>	
  </div>
</ion-view>