<style type="text/css">
	.sort {
		background-size:cover;
		background-position:center;
		width:100%;
		height:200px;
		position:relative;
		display: block;
		margin-bottom: 10px;
	}
	.sort > div {
		background-color:rgba(0,0,0,.3);
		width:100%;
		height:80px;
		font-size:40px;
		color:#fff;
		position:absolute;
		bottom:0px;
		left:0px;
		line-height:80px;
		text-indent:.5em;
	}
</style>
<ion-view view-title="社区">
  <ion-content class="has-header">
  	<a href="" class="sort" style="background-image:url('http://placehold.it/200x200')">
  		<div style="">
  			衣
  		</div>
  	</a>
  	<a href="" class="sort" style="background-image:url('http://placehold.it/200x200')">
  		<div style="">
  			食
  		</div>
  	</a>
  	<a href="" class="sort" style="background-image:url('http://placehold.it/200x200')">
  		<div style="">
  			住
  		</div>
  	</a>
  	<a href="" class="sort" style="background-image:url('http://placehold.it/200x200')">
  		<div style="">
  			养
  		</div>
  	</a>
  	<a href="" class="sort" style="background-image:url('http://placehold.it/200x200')">
  		<div style="">
  			乐
  		</div>
  	</a>
  	<a href="" class="sort" style="background-image:url('http://placehold.it/200x200')">
  		<div style="">
  			美
  		</div>
  	</a>

  </ion-content>
</ion-view>