<ion-view view-title="this is magazine inner" hide-nav-bar="true">

  <ion-content>
  	<ion-refresher
  	  pulling-text="Pull to refresh..."
  	  on-refresh="doRefresh()">
  	</ion-refresher>
	
  	<div ng-bind-html="content" >
  	</div>
  </ion-content>

	<div style="position:fixed;bottom:50px;left:50%;width:20px;height:20px;line-height:23px;text-align:center;background:rgba(0,0,0,.5);border-radius:100%;" ng-click="isShowFooterbar = !isShowFooterbar"><i class="icon ion-chevron-down"></i></div>
  <div class="bar bar-footer" ng-show="isShowFooterbar">
  	<div class="row">
  		<div class="col-20">
  			<button class="button button-icon ion-ios-arrow-thin-left" ng-click="$ionicGoBack()"></button>
  		</div>
  		<div class="col-20">
  			<button class="button button-icon ion-ios-chatbubble-outline" ng-click="magazineComment()"></button>
  		</div>
  		<div class="col-20">
  			<button class="button button-icon ion-ios-heart-outline" ng-click="like()"></button>
  		</div>
  		<div class="col-20">
  			<button class="button button-icon ion-share" ng-click="detailShare()"></button>
  		</div>
  		<div class="col-20">
  			<button class="button button-icon ion-ios-list-outline" ng-click="magazineCatalog()"></button>
  		</div>
  	</div>
  </div>
</ion-view>	

<script type="text/ng-template" id="magazineCatalog.html">
	<ion-modal-view>
		<ion-header-bar align-title="center" class="bar-stable">
		  <div class="buttons">
		    <button class="button" ng-click="doSomething()">下一本</button>
		  </div>
		  <h1 class="title">目录</h1>
		  <div class="buttons">
		    <button class="button button-icon ion-minus-circled" ng-click="closeMagazineCatalog()"></button>
		  </div>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item ng-repeat="item in catalog" ng-href="{{item.link}}" ng-click="closeMagazineCatalog()"> <img src="http://placehold.it/200x200" style="height:30px;width:60px; vertical-align:middle"> {{item.title}}</ion-item>
			</ion-list>
		</ion-content>
	</ion-modal-view>
</script>


<script type="text/ng-template" id="magazineComment.html">
	<ion-modal-view>
		<ion-header-bar>
			<div class="buttons">	
				<button  class="button button-icon icon ion-ios-arrow-thin-left" ng-click="closeMagazineComment()">	</button>
				<div class="title">杂志评论</div>
			</div>			
		</ion-header-bar>
		<ion-content>
			<form ng-submit=" ">	
				<div class="list">	
					<div class="item-input">	
						<textarea>	</textarea>
						<label class="">	</label>
					</div>	
				</div>	
			</form>
		</ion-content>
	</ion-modal-view>
</script>