<ion-view view-title="magazine">	 
	<ion-content>
		<ion-refresher
		  pulling-text="<small>下拉刷新<br/>最近更新时间：2016-01-12 14：20<small>"
		  pulling-icon="ion-arrow-down-a"
		  on-refresh="loadMagazine()">
		</ion-refresher>
		<div class="row" ng-repeat="items in magazine">
			<div class="col-33 col" ng-repeat="item in items track by $index">
				<div style="position:relative" ui-sref="app.magazineInner({id:item.id})">
					<img src="http://placehold.it/200x200" class="full-image" style="height:100px;">
					<a class="button button-icon" style="position:absolute;bottom:0px;right:10px;">
						<i class="icon ion-ios-download-outline"></i>
					</a>
				</div>
				<small style="display:block;color:#333;">{{item.title}}</small>
				<small style="font-size:9px;display:block;color:#999;">2015.12-05.12</small>
			</div> 
		</div>  
	</ion-content>
</ion-view>