<div style="padding:10px;">
	<img class="full-image" src="http://placehold.it/100x100">
	<h4>植物元气护肤，应对夏日肌肤小困扰</h4>
	<time>2016年 5月30日</time>
	<ul>
		<li>小清新系列清爽面膜，你拥有了吗？</li>
		<li>换季保湿，您需要了解的5条“心机”</li>
		<li>植物让你家“活”起来，你选对了吗？</li>
	</ul>
	<div style="width:100%;height:150px;background-image:url('http://placehold.it/200x200');background-size:cover;background-position:center;margin-bottom:16px;"></div>
	<b style="text-align:center;">日间加强美白保湿</b>
	<img src="http://placehold.it/200x200" class="full-image">
	<p>春季是过敏性肌肤的大敌，敏感性皮肤表层浇薄，真皮习惯网钱，因此皮肤受到刺激时容易发上如红肿，脱水等皮肤症状</p>
</div>